<template name="page_ent_prof">
    <h2>Entrepreneur Profiles</h2>
    
    <!--HTML code here, we can later put this together with the conversations-->
    <div class="select-entrepreneur">
        <h4>Select An Entrepreneur</h4>
        <select style="width: auto" id="entrepreneur-chooser">
            <option default value="">Select one...</option>
    	{{#each entrepreneurs}}
            <option value="{{twitter}}">{{name}}</option>
    	{{/each}}
        </select>
    </div>
    
    {{#if chosen}}
        <div class="well">
            <h3>Entrepreneur Profile for {{chosen.name}}</h3>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{chosen.name}}</td>
                    </tr>
                    <tr>
                        <td> Phone # </td>
                        <td>{{chosen.phone}}</td>
                    </tr>
                    <tr>
                        <td> Twitter Handle </td>
                        <td>{{chosen.twitter}}</td>
                    </tr>
                    <tr>
                        <td> Company Name </td>
                        <td>{{chosen.company}}</td>
                    </tr>
                    <tr>
                        <td> Company Location </td>
                        <td>{{chosen.location}}</td>
                    </tr>
                    <tr>
                        <td> Company Field </td>
                        <td>{{chosen.field}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    {{/if}}
</template>