<template name="page_history">
    <h2>History</h2>
    
<!--
<div class="well">
    <h3>Filter questions by date</h3>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <p class="lead text-center">Start</p>

            <div id="date-start">
                {{> datepicker}}
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <p class="lead text-center">End</p>

            <div id="date-end">
                {{> datepicker}}
            </div>
        </div>
    </div>

    <button class="btn btn-primary" id="set-date-filter">
        Filter
    </button>
    <button class="btn btn-default" id="clear-date-filter">
        Clear
    </button>
</div>
-->

<br>

<!--This is the table below the date section that don't have the headings ligned up with the data-->
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Entrepreneur Name</th>
      <th>Question</th>
      <th>Send Reminder</th>
    </tr>
  </thead>
  <tbody>

  	{{#each filtered}}
  		<tr>
  			<td>
        		<strong class="book-title">{{recipient_screen_name}}</strong>
      		</td>
      		<td class="item-Questions">{{text}}</td>
      		<td class="item-Send Reminder"><input type="checkbox" name="option1" value="Yes"> Yes<br></td>
  		</tr>
  	{{/each}}


  </tbody>
</table>

</template>

<template name="datepicker">
    <div class="form form-inline">
        <select class="form-control datepicker-month">
            {{#each months}}
                <option>
                    {{this}}
                </option>
            {{/each}}
        </select>
        <select class="form-control datepicker-day">
            {{#each days}}
                <option>
                    {{this}}
                </option>
            {{/each}}
        </select>
        <select class="form-control datepicker-year">
            {{#each years}}
                <option>
                    {{this}}
                </option>
            {{/each}}
        </select>
    </div>
</template>
