<template name="page_questions">
    <h2>Questions</h2>
    
    <strong>Cindy "Death Metal" Zhao</strong>     
    
    <!-- Your HTML here -->
    <div class="new-question">
        <h4>Add A New Question:</h4>
    
        <form id="add_question">
            <input type="text" name="question_text" placeholder="Survey Question:" />
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
        
    </div>
    
    <div class="current-questions">
        <h4>List of Current Questions:</h4>
        
        <ul class="list-unstyled">
            {{#each questions}}
                {{> question_template }}
            {{/each}}
        </ul>
        
        <form>
            <button type="submit" data-loading-text="Modifying..." class="btn btn-primary">
                Modify Selected
            </button>
            <button type="submit" data-loading-text="Deleting..." class="btn btn-primary">
                Delete
            </button>
        </form>

    </div>

</template>

<template name="question_template">
    <li>
        <input type="checkbox" unchecked> {{ text }}    
    </li>
</template>