<template name="page_questions">
    <h2>Questions</h2>
    
    <strong>Cindy "Death Metal" Zhao</strong>     
    
    <!-- Your HTML here -->
    <div class="new-question">
        <h4>Add A New Question:</h4>
    
        <form id="add_question">
            <input type="text" name="question_text" placeholder="Survey Question:" />
            <button type="submit">Add</button>
        </form>
        
    </div>
    
    <div class="current-questions">
        <h4>List of Current Questions:</h4>
        
        <ul>
            {{#each questions}}
                {{> question_template }}
            {{/each}}
        </ul>
        
        <form>
            <button type="submit">Modify Selected</button>
            <button type="submit">Delete</button>
        </form>

    </div>

</template>

<template name="question_template">
    <li>
        <input type="checkbox" checked> {{ text }}    
    </li>
</template>