<template name="page_questions">
    <h2>Questions</h2>  
    
    <!-- Your HTML here -->
    <div class="new-question">
        <h4>Add A New Question:</h4>
    
        <form id="add_question">
            <input type="text" name="question_text" placeholder="Survey Question:" class="form-control"/>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
        
    </div>
    
    <div class="current-questions">
        <h4>List of Current Questions:</h4>
        
        <form class="form" id="form-save-questions">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Question</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each questions}}
                        {{> question_template }}
                    {{/each}}
                </tbody>
            </table>
        </form>

    </div>

</template>

<template name="question_template">
    <tr>
        <td>
            <input type="text" name="question_text" class="form-control" value="{{question_text}}">
        </td>
        <td>
            <button class="btn btn-primary btn-save">
                <span class="glyphicon glyphicon-floppy-disk"></span>
            </button>
        </td>
        <td>
           <button class="btn btn-danger btn-delete">
               <span class="glyphicon glyphicon-remove"></span>
           </button>
        </td>
    </tr>
</template>
