<template name="page_send">
    <h2>Send messages</h2>
    
    <strong>List of Entrepreneurs</strong> 

    <!-- Your HTML here -->

    <div class="row">
        <div class="col-xs-6">
            <!-- Entrepreneurs!!! -->
            <div class="row">
                <div class="col-xs-12">
                    <input type="checkbox">
                    <label>Harry Potter</label>                    
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-block">Yo</bnutton>
                </div>
            </div>
            <input type="checkbox">
            <label>Harry Potter</label>
            <input type="checkbox">
            <label>Harry Potter</label>            
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12">
                    <span class="input-group-addon">
                    <input type="radio">
                    <label>How awesome am I?</label>  
                    </span>
                </div>
            </div>
        </div> 
        
        <div class="col-xs-6">
            <div class="row">
                <span class="input-group-addon">
                <input type="radio">
                <label>How not awesome am I not?</label>
                </span>
            </div>
        </div>
        
        <div class="col-xs-6">
            <div class="row">
                <span class="input-group-addon">
                <input type="radio">
                <label>THIS IS A QUESTION?</label>
                </span>
            </div>
        </div>

    </div>
    
    <div>
    <button type="submit" class="btn btn-primary btn-lg btn-block">
                <span class="glyphicon glyphicon-plus"></span> SEND!
            </button>
    </div>
</template>