<template name="page_send">
    <h2>Send messages</h2>
    

    <!-- Your HTML here -->

    <div class="row">
        <div class="col-xs-6">
            <!-- Entrepreneurs!!! -->
            <strong>List of Entrepreneurs</strong> 
            <div class="row">
                {{#each entrepreneurs}}
                    {{> entrepreneur_send_template}}
                {{/each}}                
            </div>
        </div>
    
        <div class="col-xs-6">
            <!-- Questions!!! -->
            <strong>Questions</strong> 
            <div class="row">
                {{#each questions}}
                    {{> question_send_template}}
                {{/each}} 
            </div>
        </div>
    </div>
    
    <div>
    <button type="submit" id="btn-send" class="btn btn-primary btn-lg btn-block">
                <span class="glyphicon glyphicon-send"></span> SEND!
            </button>
    </div>
</template>

<template name="entrepreneur_send_template">
    
    <div class="col-xs-12">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="">
                {{name}}
                @{{twitter}}
            </label>
        </div>
    </div>
    
    
</template>

<template name="question_send_template">
    
    <div class="col-xs-12">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="">
                {{question_text}}
            </label>
        </div>
    </div>
                
</template>
    