<template name="page_send">
    <h2>Send messages</h2>
    

    <!-- Your HTML here -->

    <div class="row">
        <div class="col-xs-6">
            <!-- Entrepreneurs!!! -->
            <strong>List of Entrepreneurs</strong> 
            <div class="row">
                <div class="col-xs-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Option one is this and that&mdash;be sure to include why it's great
                        </label>
                    </div>
                </div>
                
                <div class="col-xs-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Option one is this and that&mdash;be sure to include why it's great
                        </label>
                    </div>
                </div>
                
                <div class="col-xs-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Option one is this and that&mdash;be sure to include why it's great
                        </label>
                    </div>
                </div>
                
                <div class="col-xs-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Option one is this and that&mdash;be sure to include why it's great
                        </label>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-xs-6">
            <!-- Questions!!! -->
            <strong>Questions</strong> 
            <div class="row">
                <div class="col-xs-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            THIS IS A QUESTION?
                        </label>
                    </div>
                </div>
                
                <div class="col-xs-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            THIS IS A QUESTION?
                        </label>
                    </div>
                </div>
                
                <div class="col-xs-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            THIS IS A QUESTION?
                        </label>
                    </div>
                </div>
                
                <div class="col-xs-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            THIS IS A QUESTION?
                        </label>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <div>
    <button type="submit" class="btn btn-primary btn-lg btn-block">
                <span class="glyphicon glyphicon-send"></span> SEND!
            </button>
    </div>
</template>